<?xml version="1.0" encoding="utf-8" ?>
<configuration>

	<connectionStrings>
		<add name= "CS" connectionString= "Server=localhost;Database=studentdb;User Id=root;Password=;" providerName= "MySql.Data.MySqlClient"/>
	</connectionStrings>

	<startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7" />
    </startup>
</configuration>